$colorWhite: #fff;
$colorWhiteTwo: #f8f8f8;
$colorBlack-one: #1e1e1e;
$colorBlack-two: #1b1b1b;
$colorBlackBlack: #000;
$colorBlack-three: #151516;
$colorYellow: #eafc52;
$colorWhiteOpacity: #c3c3c3;
