// Міксіни
@use '_mixins.scss' as *;
// Типографія
@use '_typo.scss' as *;
@use 'colors' as *;

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  @include adaptiveValue('font-size', 25, 16, 0, 1920, 425);
  color: $colorBlackBlack;
  @include adaptiveValue('border-radius', 30, 20, 0, 1920, 450);
  background-color: $colorYellow;
  text-align: center;
  @include adaptiveValue('width', 367, 243, 0, 1920, 450);
  @include adaptiveValue('height', 97, 64, 0, 1920, 450);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: scale 0.4s;
  html:not([data-fls-touch]) & {
    &:hover {
      scale: 1.1;
    }
  }
}

.icon {
  img {
    transition: scale 0.3s;
    html:not([data-fls-touch]) & {
      &:hover {
        scale: 1.1;
      }
    }
  }

  @media (width<toEm(768)) {
    display: none;
  }
}
.title-h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  @include adaptiveValue('font-size', 69, 29, 0, 1920, 625);
  text-transform: uppercase;
  color: $colorWhite;

  span {
    display: inline-block;
    color: $colorBlackBlack;
    background-color: $colorYellow;
    padding: 17px 14px;
    @media (width<toEm(768)) {
      padding: 2px 0px;
    }
  }
}

.brand {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 100px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(136, 136, 136, 0.322);
  line-height: 0.8;
  &_left {
  }

  @media (width<toEm(768)) {
    display: none;
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scrollrotate {
  from {
    transform: rotate(-3.8deg) translateX(0);
  }
  to {
    transform: rotate(-3.8deg) translateX(-50%);
  }
}
