// Міксіни
@use '_mixins.scss' as *;
// Типографія
@use '_typo.scss' as *;
@use 'colors' as *;

.footer {
  @media (width<toEm(768)) {
    margin-left: 46px;
  }
  &__container {
    display: flex;
    max-width: 1196px !important;
    @include adaptiveValue('gap', 125, 37, 0, 1920, 768);
    @media (width<toEm(768)) {
      flex-direction: column;
    }
  }

  &__contacts {
    @media (width<toEm(768)) {
      order: 2;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('gap', 16, 16, 0, 1920, 768);
    @include adaptiveValue('margin-bottom', 24, 23, 0, 1920, 768);
  }

  &__social {
    font-size: 16px;
    color: $colorWhiteOpacity;
    display: flex;
    @include adaptiveValue('gap', 34, 48, 0, 1920, 768);
    @include adaptiveValue('margin-bottom', 53, 16, 0, 1920, 768);
  }

  &__icon {
    transform: rotate(-180deg);
  }

  &__menu {
  }

  .social-footer {
    &__item {
      display: flex;
      flex-direction: column;
      gap: toRem(18);
    }

    &__link {
      font-size: 18px;
      color: $colorYellow;
      html:not([data-fls-touch]) & {
        &:hover {
          text-decoration: underline;
          text-underline-offset: 5px;
        }
      }
    }
  }

  .menu-footer {
    @include adaptiveValue('gap', 76, 20, 0, 1920, 768);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (width<toEm(992)) {
      grid-template-columns: 1fr 1fr;
    }
    @media (width<toEm(768)) {
      order: 1;
    }
    @media (width<toEm(450)) {
      grid-template-columns: 1fr;
    }
    &__column {
    }

    &__title {
      font-weight: 600;
      @include adaptiveValue('font-size', 22, 18, 0, 1920, 425);
      @include adaptiveValue('margin-bottom', 14, 15, 0, 1920, 425);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 14px;
      overflow: hidden;
      transition: all 0.3s;
      @media (width<toEm(450)) {
        min-height: 0;
      }
    }

    &__item {
    }

    &__link {
      font-size: 18px;
      color: $colorWhiteOpacity;
      line-height: 1.25;
      transition: color 0.2s;

      html:not([data-fls-touch]) & {
        &:hover {
          color: $colorWhite;
        }
      }
    }
  }
}
