@use 'sass:math';
// Скидання стилів
@use '_reset.scss';
// Шрифти
@use '_fonts.scss';
// Іконки
@use '_icons.scss';
// Міксіни
@use '_mixins.scss' as *;
// Кольори
// @use "_colors.scss" as *;
// Типографія
@use '_typo.scss' as *;
// Компоненти
@use '_components.scss' as *;
// Header
@use '_header.scss';
// Footer
@use '_footer.scss';

// Pages
@use '_home.scss';
@use 'colors' as *;

body {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  background-color: $colorBlackBlack;
  color: $colorWhite;

  [data-menu-open] & {
    overflow: hidden;
  }
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*='__container'] {
  @include adaptiveValue('padding-inline', 15, 15, 0, 1920, 400);
  max-width: 1222px;
  margin: 0 auto;
  @media (width<toEm(550)) {
    max-width: 333px;
  }
}
br {
  @media (width<toEm(768)) {
    display: none;
  }
}

.page {
  &__hero {
    @include adaptiveValue('margin-top', 178, 97, 0, 1920, 425);
  }
  &__promo {
    @include adaptiveValue('margin-top', 144, 88, 0, 1920, 425);
  }
  &__comparison {
    @include adaptiveValue('margin-top', 117, 41, 0, 1920, 425);
  }
  &__steps {
    @include adaptiveValue('margin-top', 92, 197, 0, 1920, 425);
  }
  &__workflow {
    @include adaptiveValue('padding-top', 103, 179, 0, 1920, 425);
  }
  &__process {
    @include adaptiveValue('padding-top', 157, 114, 0, 1920, 425);
    // @include adaptiveValue('padding-bottom', 157, 114, 0, 1920, 425);
  }
  &__stages {
    @include adaptiveValue('padding-top', 106, 85, 0, 1920, 425);
    @include adaptiveValue('padding-bottom', 5, 5, 0, 1920, 425);
  }
  &__journey {
    @include adaptiveValue('margin-top', 78, 138, 0, 1920, 425);
  }
  &__ideal {
    @include adaptiveValue('margin-top', 127, 103, 0, 1920, 425);
  }
  &__circle {
    @include adaptiveValue('margin-top', 239, 140, 0, 1920, 425);
  }
  &__slider {
    @include adaptiveValue('margin-top', 132, 83, 0, 1920, 425);
  }
  &__price {
    @include adaptiveValue('margin-top', 359, 139, 0, 1920, 425);
  }
  &__video {
    @include adaptiveValue('margin-top', 133, 8, 0, 1920, 768);
  }
  &__candlestorm {
    @include adaptiveValue('margin-top', 78, 115, 0, 1920, 768);
  }
  &__disclamer {
    @include adaptiveValue('margin-top', 69, 115, 0, 1920, 768);
  }
}
.footer {
  @include adaptiveValue('margin-top', 103, 80, 0, 1920, 768);
}
