@use 'mixins' as *;
@use 'colors' as *;
.default-button {
  min-width: toRem(166);
  padding: toRem(11) toRem(47);
  border-radius: toRem(15);
  background-color: $orange-1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: toRem(17);
  font-weight: 500;
  transition: background-color 0.3s;
  html:not([data-fls-touch]) & {
    &:hover {
      color: $orange-1;
      background-color: $color-white;
      outline: 2px solid $orange-1;
    }
  }
}
