@use 'mixins' as *;
@use 'colors' as *;
@use 'components' as *;

.header {
  html[data-scroll] & {
    box-shadow: 0px 0px 5px 1px;
  }
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  transition: box-shadow 0.3s;

  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue('min-height', 100, 70);
    @include adaptiveValue('gap', 140, 10);
  }

  &__logo img {
    max-width: none;
  }

  &__logo-image {
  }
  &__icon {
    display: none;
  }

  &__menu {
    flex-grow: 1;
  }

  &__action {
    @extend .default-button;
  }
}
.menu-header {
  &__list {
    display: flex;
    @include adaptiveValue('column-gap', 60, 10);
    flex-wrap: wrap;
    row-gap: toRem(10);
  }

  &__item {
  }
  &__item--sign-up {
    display: none;
  }

  &__link {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0%;
      top: 100%;
      left: 50%;
      height: toRem(2);
      background-color: $black-1;
      transition:
        width 0.3s,
        left 0.3s;
    }

    html:not([data-fls-touch]) & {
      &:hover {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
@media (width<1212px) {
  .header {
    &__container {
      gap: 50px;
      justify-content: space-between;
    }

    .menu-header {
      flex-grow: 0;
      &__list {
        align-items: center;
      }
    }
  }
}
@media (width<767px) {
  html[data-burger-menu-open] {
    body {
      overflow: hidden; // Блокує скрол сторінки при відкритому меню
    }
  }
  .header__icon {
    display: block;
    position: relative;
    width: 47px;
    height: 18px;
  }
  .header__icon span,
  .header__icon::before,
  .header__icon::after {
    content: '';
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    background-color: #2f302c;
    transition: all 0.3s;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    translate: 0 -50%;
  }
  .header__logo,
  .header__icon {
    z-index: 6;
  }
  .header {
    html[data-burger-menu-open] & {
      .menu-header {
        left: 0;
      }
      .header__icon span {
        display: none;
      }

      .header__icon::before {
        top: 50%;
        translate: 0 -50%;
        transform: rotate(-45deg);
      }
      .header__icon::after {
        bottom: 50%;
        translate: 0 50%;
        transform: rotate(45deg);
      }
    }
    .menu-header {
      background-color: $color-white;
      html[data-burger-menu-open] & {
        &::before {
          content: '';
          position: fixed;
          width: 100%;
          height: 100px;
          left: 0;
          top: 0;
          background-color: #fff;
          z-index: 4;
        }
      }
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      padding: 120px 15px 30px 15px;
      overflow: auto;
      transition: 0.3s left;
      z-index: 5;
      transition: left 0.3s;
      &__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 50px;
        font-size: 40px;
      }
      &__item--sign-up {
        display: block;
        min-width: toRem(166);
        padding: toRem(11) toRem(47);
        border-radius: toRem(15);
        background-color: $orange-1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: toRem(17);
        font-weight: 500;
      }
    }
    &__icon {
      display: block;
    }
    &__action {
      display: none;
    }
  }
}
