/*________UNITY_________*/
@use 'components' as *;
@use 'mixins' as *;
@use 'colors' as *;

.unity {
  position: relative;
  @include adaptiveValue('padding-top', 140, 60);
  @include adaptiveValue('padding-bottom', 140, 40);

  &__container {
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
    flex-wrap: wrap;
  }

  &__content {
    flex-basis: toRem(687);
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #ba936f;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal;
    @include adaptiveValue('font-size', 50, 30);
    @include adaptiveValue('margin-bottom', 70, 30);
  }

  &__text {
    p {
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      line-height: 1.42;
      max-width: toRem(638);
      @include adaptiveValue('font-size', 19, 16);
      @include adaptiveValue('margin-bottom', 59, 30);
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    transition: scale 0.3s;

    &:hover {
      scale: 1.1;
    }

    span {
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      line-height: 1.59;
      margin-left: toRem(-42);
      @include adaptiveValue('font-size', 17, 15);

      &::after {
        content: '';
        background: url('../img/unity/right-arrow.png') 0 8px / 25px no-repeat;
        margin-left: toRem(6);
        width: toRem(25);
        height: toRem(25);
        display: inline-block;
      }
    }
  }

  &__gallery {
    flex-basis: toRem(486);
    flex-shrink: 1;

    @media (width < toEm(768)) {
      flex-grow: 1;
    }
  }
}

.leaf-one {
  position: absolute;
  top: -5%;
  right: 8%;
}

.leaf-two {
  position: absolute;
  bottom: toRem(11);
  left: toRem(142);
}

@media (width < toEm(1920)) {
  .leaf-one,
  .leaf-two,
  .practice__leaf {
    display: none;
  }
}

@media (width < toEm(768)) {
  .unity {
    &__items {
      flex-wrap: wrap;
    }
  }
}

/*__________PRACTICE__________*/
.practice {
  position: relative;
  @include adaptiveValue('padding-top', 100, 40);
  @include adaptiveValue('padding-bottom', 100, 40);

  &__items {
    display: flex;
    justify-content: space-between;
    gap: toRem(40);
    align-items: center;

    @media (width < toEm(768)) {
      flex-wrap: wrap;
    }
  }

  &__gallery {
    flex-basis: toRem(600);
    flex-grow: 1;
    order: 2;

    img {
      border-radius: toRem(15);
      width: 100%;
      object-fit: cover;
      @media (width < toEm(768)) {
        aspect-ratio: 1;
      }
    }
  }

  &__content {
    flex-basis: toRem(561);
    order: 1;
  }

  &__title {
    color: #ba936f;
    font-family: 'Lora', sans-serif;
    text-transform: uppercase;
    line-height: normal;
    @include adaptiveValue('font-size', 35, 26);
    @include adaptiveValue('margin-bottom', 55, 25);
  }

  &__text {
    p {
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.42;
      @include adaptiveValue('font-size', 19, 16);
      @include adaptiveValue('margin-bottom', 46, 25);
    }
  }

  &__subtext {
    color: #343434;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.59;
    max-width: toRem(467);
    @include adaptiveValue('font-size', 17, 15);
    @include adaptiveValue('margin-bottom', 43, 25);

    a {
      font-weight: 600;
      color: #ba936f;

      &:hover {
        text-decoration: underline;
        text-underline-offset: toRem(5);
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(200);
    height: toRem(46);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    background: #ba936f;
    border-radius: toRem(15);
    @include adaptiveValue('font-size', 17, 15);

    &:hover {
      color: #ba936f;
      background-color: #fff;
      border: 2px solid #ba936f;
    }
  }

  &__leaf {
    position: absolute;
    right: 0;
    top: 75%;
  }
}

/*________LESSONS________*/
.lessons {
  @include adaptiveValue('padding-top', 137, 40);
  @include adaptiveValue('padding-bottom', 137, 40);

  &__title {
    color: #ba936f;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    @include adaptiveValue('font-size', 35, 28);
    @include adaptiveValue('margin-bottom', 32, 20);
  }

  &__text {
    p {
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.59;
      max-width: toRem(839);
      @include adaptiveValue('font-size', 17, 15);
      @include adaptiveValue('margin-bottom', 64, 30);
    }
  }

  &__items {
    display: flex;
    gap: toRem(41);
    flex-wrap: wrap;
    @media (width < toEm(768)) {
      gap: toRem(20);
    }
  }
}

.lesson__item {
  display: flex;
  flex-direction: column;
  gap: toRem(14);
  flex-grow: 1;
  flex-shrink: 1;

  @media (width < toEm(1227)) {
    flex-basis: toRem(200);
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: toRem(15);
  }
}

.item-lesson__caption {
  color: #ba936f;
  font-family: 'Lora', sans-serif;
  @include adaptiveValue('font-size', 22, 18);
}

/*______SHEDULE_________*/
.shedule {
  @include adaptiveValue('padding-top', 80, 20);
  @include adaptiveValue('padding-bottom', 80, 20);

  &__title {
    color: #ba936f;
    font-family: 'Lora', sans-serif;
    text-transform: uppercase;
    max-width: toRem(515);
    @include adaptiveValue('font-size', 35, 26);
    @include adaptiveValue('margin-bottom', 16, 10);
  }

  &__text {
    p {
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.59;
      max-width: toRem(839);
      @include adaptiveValue('font-size', 17, 15);
      @include adaptiveValue('margin-bottom', 41, 25);
    }
  }

  &__items {
    display: flex;
    gap: toRem(34);
    align-items: center;

    @media (width < toEm(1050)) {
      flex-wrap: wrap;
    }
  }

  &__content {
    flex-basis: toRem(661);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__table {
    overflow-x: auto;
    margin-right: toRem(-15);
    padding-right: toRem(15);

    table {
      border-collapse: collapse;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      color: #343434;
      min-width: toRem(620);
      @include adaptiveValue('font-size', 17, 14);

      td {
        border-bottom: 1px solid #ddc9b8;
        border-top: 1px solid #ddc9b8;
        height: toRem(66);

        a {
          position: relative;
          &:hover {
            text-decoration: underline;
            text-underline-offset: toRem(5);
          }
        }

        &:nth-child(2) a::after {
          content: '';
          position: absolute;
          background: url('../img/shedule/arrowright.png');
          background-size: contain;
          top: 0;
          right: toRem(-19);
          width: toRem(15);
          height: toRem(15);
          transition: scale 0.2s;
        }

        &:nth-child(2) a:hover::after {
          scale: 1.2;
        }
      }
    }
  }

  &__gallery {
    flex-basis: toRem(503);
    flex-grow: 1;
    img {
      width: 100%;
      border-radius: toRem(15);
    }
  }
}

/*__________JOIN OUR COMMUNITY_______________*/
.our-community {
  @include adaptiveValue('margin-top', 138, 40);
  @include adaptiveValue('margin-bottom', 138, 40);

  &__container {
    display: flex;
    @include adaptiveValue('gap', 69, 20);

    @media (width < toEm(1050)) {
      flex-wrap: wrap;
    }
  }

  &__gallery {
    flex: 1 1 toRem(402);

    @media (width < toEm(1050)) {
      order: 2;
      flex-grow: 1;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: toRem(20);
    }
  }

  &__content {
    @media (width < toEm(1050)) {
      order: 1;
      flex-grow: 1;
    }
  }
}

.content-our-community {
  display: flex;
  flex-direction: column;
  align-self: center;

  &__title {
    color: $orange-1;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    max-width: toRem(649);
    flex-grow: 1;
    @include adaptiveValue('font-size', 35, 26);
    @include adaptiveValue('margin-bottom', 59, 25);

    @media (width < toEm(1050)) {
      max-width: none;
      text-align: center;
    }
  }
}

.advantage-content-our-comminity {
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue('column-gap', 160, 20);
    @include adaptiveValue('row-gap', 47, 20);

    @media (width < toEm(600)) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    @include adaptiveValue('font-size', 20, 18);
    @include adaptiveValue('margin-bottom', 5, 3);
  }

  &__text {
    max-width: toRem(274);

    @media (width < toEm(600)) {
      max-width: none;
    }

    p {
      color: $black-1;
      margin-top: 0;
      line-height: 1.66;
      @include adaptiveValue('font-size', 15, 14);
    }
  }
}

.button-advantage-content-our-community {
  align-self: flex-end;
  justify-self: flex-end;
  position: relative;

  @media (width < toEm(1050)) {
    justify-self: center;
  }

  html:not([data-fls-touch]) & {
    transition: scale 0.3s;
    &:hover {
      scale: 1.2;
    }
  }

  span {
    position: absolute;
    top: 32%;
    left: -100%;
    @include adaptiveValue('font-size', 17, 15);

    &::before {
      content: '';
      background: url(../img/our-community/left-arrow.png) 0 8px / 25px no-repeat;
      margin-left: toRem(6);
      width: toRem(25);
      height: toRem(25);
      margin-right: toRem(11);
      display: inline-block;
    }
  }

  a img {
    rotate: -180deg;
  }
}

/*________OUR PRICES____________*/
.our-prices {
  @include adaptiveValue('margin-bottom', 138, 40);

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    @include adaptiveValue('font-size', 32, 26);
    @include adaptiveValue('margin-bottom', 27, 15);
  }

  &__text {
    p {
      color: $black-1;
      max-width: toRem(500);
      @include adaptiveValue('font-size', 17, 15);
      @include adaptiveValue('margin-bottom', 68, 30);
    }
  }

  &__items {
    display: flex;
    @include adaptiveValue('gap', 62, 20);

    @media (width < toEm(1025)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    background-color: $orange-light;
    border-radius: toRem(33);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue('padding', 60, 30);
  }
}

.item-our-prices {
  text-align: center;

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    flex-grow: 1;
    @include adaptiveValue('font-size', 25, 20);
    @include adaptiveValue('margin-bottom', 14, 10);
  }

  &__text {
    p {
      color: #888;
      font-family: 'Montserrat', sans-serif;
      max-width: toRem(272);
      @include adaptiveValue('font-size', 17, 15);
      @include adaptiveValue('margin-bottom', 67, 30);
    }
  }

  &__price {
    color: $black-1;
    @include adaptiveValue('font-size', 64, 40);
    @include adaptiveValue('margin-bottom', 84, 30);
  }

  &__join {
    text-transform: capitalize;
    color: $color-white;
    @extend .default-button;
    @include adaptiveValue('font-size', 19, 16);
  }
}

/*_______INSTRUCTORS___________*/
.instructors {
  @include adaptiveValue('margin-bottom', 138, 40);

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    max-width: toRem(615);
    @include adaptiveValue('font-size', 35, 26);
    @include adaptiveValue('margin-bottom', 27, 15);
  }

  &__text {
    p {
      color: $black-1;
      max-width: toRem(553);
      @include adaptiveValue('font-size', 17, 15);
      @include adaptiveValue('margin-bottom', 83, 30);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(280), 1fr));
    @include adaptiveValue('column-gap', 30, 15);
    @include adaptiveValue('row-gap', 49, 25);
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.item-instructor {
  &__gallery {
    aspect-ratio: 381/350;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: toRem(15) toRem(15) 0 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $orange-light;
    border-radius: 0 0 toRem(15) toRem(15);
    flex: 1 1 auto;
    @include adaptiveValue('padding', 21, 15);
  }

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    @include adaptiveValue('font-size', 25, 20);
    @include adaptiveValue('margin-bottom', 9, 5);
  }

  &__text {
    flex-grow: 1;
    p {
      color: $black-1;
      font-family: 'Montserrat', sans-serif;
      max-width: toRem(327);
      @include adaptiveValue('font-size', 15, 14);
      @include adaptiveValue('margin-bottom', 20, 10);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include adaptiveValue('gap', 25, 10);

    a {
      white-space: nowrap;
      outline: 1px solid $orange-1;
      border-radius: toRem(15);
      color: $orange-1;
      transition:
        color 0.3s,
        background-color 0.3s;
      @include adaptiveValue('padding', 10, 8);
      @include adaptiveValue('font-size', 15, 13);

      html:not([data-fls-touch]) &:hover {
        color: white;
        outline: none;
        background-color: #ba936f;
      }
    }
  }
}

/*__________CALLBACK_________*/
.callback {
  @include adaptiveValue('padding-bottom', 80, 40);

  &__container {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue('gap', 41, 20);
  }

  &__content {
    flex-shrink: 1;
    flex-basis: toRem(615);
    flex-grow: 1;
  }

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    max-width: toRem(615);
    @include adaptiveValue('font-size', 45, 28);
    @include adaptiveValue('margin-bottom', 100, 30);
  }

  &__gallery {
    flex-basis: toRem(544);
    aspect-ratio: 544/609;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: toRem(33);
    }
  }
}

.form-callback {
  display: flex;
  flex-direction: column;

  input {
    border-bottom: 1px solid $orange-1;
    max-width: toRem(504);
    transition: box-shadow 0.3s;
    @include adaptiveValue('margin-bottom', 38, 20);
    @include adaptiveValue('padding-bottom', 6, 4);
    @include adaptiveValue('font-size', 17, 15);

    &::placeholder {
      color: $orange-1;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 -1px 0 $orange-1;
    }
  }

  &__button {
    align-self: flex-start;
    background-color: $orange-1;
    color: $color-white;
    border-radius: toRem(15);
    @include adaptiveValue('padding-top', 9, 7);
    @include adaptiveValue('padding-bottom', 9, 7);
    @include adaptiveValue('padding-left', 67, 30);
    @include adaptiveValue('padding-right', 67, 30);
    @include adaptiveValue('font-size', 19, 16);

    html:not([data-fls-touch]) &:hover {
      color: $orange-1;
      background-color: transparent;
      outline: 2px solid $orange-1;
    }
  }
}

.checkbox {
  position: relative;
  @include adaptiveValue('margin-bottom', 79, 30);

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox__label::before {
      background-color: $orange-1;
    }
    &:checked + .checkbox__label::after {
      transform: rotate(-45deg) scale(1);
    }
  }

  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    gap: toRem(15);
    line-height: 1.4;
    @include adaptiveValue('font-size', 15, 13);

    &::before {
      content: '';
      flex: 0 0 toRem(20);
      height: toRem(20);
      border: 1px solid $orange-1;
      border-radius: toRem(4);
      transition: background-color 0.3s;
      margin-top: toRem(2);
    }

    &::after {
      content: '';
      position: absolute;
      left: toRem(4);
      top: toRem(6);
      width: toRem(12);
      height: toRem(7);
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(-45deg) scale(0);
      transition: transform 0.3s ease;
    }
  }
}

/*______INSTAGRAM_______*/
.instagram {
  @include adaptiveValue('padding-bottom', 30, 20);

  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    @include adaptiveValue('font-size', 35, 26);
    @include adaptiveValue('margin-bottom', 34, 15);
  }

  &__text {
    p {
      color: $black-1;
      max-width: toRem(711);
      line-height: 1.4;
      @include adaptiveValue('font-size', 17, 15);
      @include adaptiveValue('margin-bottom', 34, 20);
    }
  }

  &__link {
    color: $orange-1;
    font-weight: 500;
    display: inline-block;
    @include adaptiveValue('font-size', 17, 15);
    @include adaptiveValue('margin-bottom', 34, 20);

    &:hover {
      text-decoration: underline;
      text-underline-offset: toRem(5);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(250), 1fr));
    scroll-snap-type: x mandatory;
    @include adaptiveValue('column-gap', 35, 15);
    @include adaptiveValue('row-gap', 21, 15);

    @media (width < toEm(425)) {
      display: flex;
      overflow-x: auto;
    }
  }

  &__item {
    aspect-ratio: 274/245;

    @media (width < toEm(425)) {
      flex: 0 0 90%;
      scroll-snap-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*_________FOOTER_________*/
.footer {
  background-color: $orange-light;

  .footer &__container {
    @include adaptiveValue('padding-top', 60, 30);
    @include adaptiveValue('padding-bottom', 12, 10);
    padding-left: toRem(15);
    padding-right: toRem(15);
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue('gap', 203, 30);
    @include adaptiveValue('margin-bottom', 105, 40);

    @media (width < toEm(768)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__rights {
    text-align: center;
    @include adaptiveValue('font-size', 14, 12);
  }
}

.item-footer {
  &__title {
    color: $orange-1;
    font-family: 'Lora', serif;
    font-weight: 500;
    @include adaptiveValue('font-size', 20, 18);
    @include adaptiveValue('margin-bottom', 30, 15);
  }

  &__email p {
    color: $black-1;
    @include adaptiveValue('font-size', 17, 15);
    @include adaptiveValue('margin-bottom', 54, 20);
  }

  &__adress {
    color: $black-1;
    font-family: 'Montserrat', sans-serif;
    max-width: toRem(258);
    @include adaptiveValue('font-size', 17, 15);
    @include adaptiveValue('margin-bottom', 19, 10);

    @media (width < toEm(768)) {
      max-width: none;
    }
  }

  &__num p {
    @include adaptiveValue('font-size', 17, 15);
  }

  &__contacts {
    display: flex;
    @include adaptiveValue('gap', 17, 15);

    @media (width < toEm(768)) {
      justify-content: center;
    }
  }

  &__text {
    color: $black-1;
    @include adaptiveValue('font-size', 17, 15);

    p:not(:last-child) {
      @include adaptiveValue('margin-bottom', 13, 8);
    }
  }
}
